<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidpractice.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnotherActivity" />
        <activity android:name=".activity.lifecycle.ALifeCycleActivity" />
        <activity
            android:name=".activity.lifecycle.BLifeCycleActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".activity.params.FirstActivity" />
        <activity android:name=".activity.params.SecondActivity" />
        <activity android:name=".activity.params.ThirdActivity" />
        <activity android:name=".activity.params.FourthActivity" />
        <activity android:name=".activity.params.FifthActivity" />
        <activity android:name=".activity.intent.IntentActivity">
            <intent-filter>

                <!-- 可指定一个action 多个category -->
                <action android:name="com.androidpractice.demo.intent.Action_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.androidpractice.demo.intent.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.intent.UriIntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.returnResult.FirstActivity" />
        <activity android:name=".activity.returnResult.SecondActivity"></activity>
    </application>

</manifest>